## for_format_list

In [ ]:
s = '{} {} {}'

pr = s.format('진상', '승훈', '형주')

print(pr)

In [ ]:
s = '{}이는 {}와 {}를 좋아해'

pr = s.format('진상', '승훈', '형주')

print(pr)

In [ ]:
s = '{}이는 {}번이고 {}대학에 갔어'

pr = s.format('진상', 30201, '인하대')

print(pr)

### [문제]햄버거 1개는 4달라

In [ ]:
q = '{} {}개는 {}달라'
qw = q.format('햄버거',1,4)
print(qw)

In [ ]:
food = '햄버거'
num = 2
price = num*4

q = '{} {}개는 {}달라'
qw = q.format(food, num, price)
print(qw)

In [ ]:
menu = input('매뉴입력 >>>')
num = int(input('개수 입력 >>>'))
price = num*4

q = '{} {}개는 {}달라'
qw = q.format(food, num, price)
print(qw)

In [ ]:
menu = list(map(int,input('햄버거 개수와 가격 >>>').split()))

In [ ]:
type (menu)

In [ ]:
menu[0],menu[1]

In [ ]:
price = menu[0] * menu[1]

q = '햄버거 {}개는 {}달라'
a = q.format(menu[0], price)
print(a)

In [ ]:
stu='%s %d학년 %.2f'

pr = stu%('인천여상',3,32.546)
print(pr)

In [ ]:
juso = '      인천시 연수구 동춘동              '

In [ ]:
type(juso), len(juso)

In [ ]:
juso.strip()

In [ ]:
juso

In [ ]:
add = juso.strip()

In [ ]:
add

In [ ]:
len(add)

In [ ]:
add.split()

In [ ]:
add.startswith('인천')

In [ ]:
add.endswith('동춘동')

if 조건식 :
    실행문1
else :
    실행문2

In [ ]:
num = 10

if num == 10 :
    print('숫자는 10 맞음')
else :
    print('숫자는 10 아님 ')

In [ ]:
num = 10

if num %2 == 0 :
    print('숫자는 짝수 맞음')
else :
    print('숫자는 짝수 아님 홀수임 ')

## [문제] 숫자를 입력을 받아서 짝수(펭수)인지 홀수(워크맨)인지 알려주는것 
- 입력을 받는다
- 정수로 바꾼다
- if 문으로 짝수인지 확인 
- 출력

In [ ]:
num = int(input(''))
if num%2 == 0 :
    print('펭수')
else :
    print('워크맨')

In [2]:
 for i in range(20,31) :
        print(i)

20
21
22
23
24
25
26
27
28
29
30

In [14]:
sum=0
for i in range(20,31) :
        if i%2 !=0 :
            sum+=i
            print(i)
print('합계 :',sum)

21
23
25
27
29
합계 : 125

## [문제] if, for 를 이용해서 문제만들기

In [16]:
sum=0
for i in range(1,101) :
    if i%2 ==0 :
        sum+=i
        print(i)
print('합계 : ',sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
합계 :  2550